In [3]:
import os
import pandas as pd

In [7]:
# Use the full path to your main folder
main_folder = "BBC News Summary"  # Replace with the actual path
news_folder = os.path.join(main_folder, "News Articles")
summaries_folder = os.path.join(main_folder, "Summaries")
topics = ["business", "entertainment", "politics", "sport", "tech"]

# Initialize a list to store the data
data = []

# Loop through each topic and collect the article and summary content
for topic in topics:
    news_topic_folder = os.path.join(news_folder, topic)
    summaries_topic_folder = os.path.join(summaries_folder, topic)
    
    # Loop through all .txt files in the topic folder
    for file_name in os.listdir(news_topic_folder):
        if file_name.endswith(".txt"):
            # Read the original article content
            with open(os.path.join(news_topic_folder, file_name), 'r',  encoding='latin-1') as file:
                article_content = file.read()
            
            # Read the summary content
            with open(os.path.join(summaries_topic_folder, file_name), 'r',  encoding='latin-1') as file:
                summary_content = file.read()
            
            # Extract the article number (e.g., "001" from "001.txt")
            article_number = file_name.split(".")[0]
            
            # Append the data to the list
            data.append([article_content, summary_content, "BBC", topic, article_number])

# Convert the data list to a DataFrame
df = pd.DataFrame(data, columns=["Article", "Summary", "Source", "Topic", "Number"])

# Save the DataFrame to a CSV file
df.to_csv("BBC_News_Summary.csv", index=False, encoding='utf-8')

print("Data successfully integrated and saved to 'BBC_News_Summary.csv'.")

Data successfully integrated and saved to 'BBC_News_Summary.csv'.

In [8]:
df = pd.read_csv('BBC_News_Summary.csv')

In [10]:
df.shape

(2225, 5)

In [9]:
df.head()

,Article,Summary,Source,Topic,Number
0,UK economy facing 'major risks'\n\nThe UK manu...,"""Despite some positive news for the export sec...",BBC,business,289
1,Aids and climate top Davos agenda\n\nClimate c...,"At the same time, about 100,000 people are exp...",BBC,business,504
2,Asian quake hits European shares\n\nShares in ...,The unfolding scale of the disaster in south A...,BBC,business,262
3,India power shares jump on debut\n\nShares in ...,"Shares in India's largest power producer, Nati...",BBC,business,276
4,Lacroix label bought by US firm\n\nLuxury good...,LVMH said the French designer's haute couture ...,BBC,business,510